.section {
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
  display: block;
  font-size: 0;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.poster-height {
  height: 74.515%;
}

.img-height {
  height: 100%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.img-width {
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.poster-box {
  width: 90.135%;
  background: #b41c27;
  border: 0.03rem solid #161717;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  margin: 2% auto 0 auto;
}

.poster-box .img-box {
  width: 96.39%;
  height: 97.76%;
  overflow: hidden;
  position: relative;
}

.poster-box .img-box .poster-imgs {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.poster-box .img-box .poster-right {
  position: absolute;
  right: 16px;
  top: 15px;
  width: 18%;
}

.poster-box .img-box .poster-left {
  position: absolute;
  left: 16px;
  top: 0;
  width: 8%;
}

.poster-box1 {
  background: #ffffff;
  border: none;
  width: 90.135%;
  height: auto;
  padding-bottom: 0.18rem;
  overflow: hidden;
}

.poster-box1 > div {
  overflow: hidden;
}

.poster-box1 .img-box {
  margin-top: 0.1rem;
  height: 4.08rem;
}

.downimg {
  width: 80.135%;
  display: block;
  margin: 3% auto 0 auto;
  position: relative;
}

.user-box {
  margin-top: 0.2rem;
  margin-bottom: 5px;
}

.user-box .two {
  margin-left: 0.1rem;
  margin-left: 3%;
}

.user-box .code-box {
  width: 25%;
  margin-left: 3%;
}

.user-box .code-box .code {
  width: 100%;
}

.user-box p {
  font-size: 0.12rem;
}

.button-box {
  width: 90.67%;
  position: relative;
  margin: 2% auto 0 auto;
}

.button-box .black {
  width: 100%;
  height: 0.5rem;
  background-color: #050505;
  font-family: "FZLTXIHJW--GB1-0";
  font-size: 0.18rem;
  color: #ffffff;
  cursor: pointer;
}

.button-box .white {
  width: 100%;
  height: 0.5rem;
  background-color: rgba(255, 255, 255, 0);
  font-family: "FZLTXIHJW--GB1-0";
  font-size: 0.18rem;
  color: #050505;
}

.button-box > div {
  width: 100%;
  margin-top: 2%;
}

.button-box > div button {
  width: 1.62rem !important;
}

.button-box > div .red1 {
  background: #b21f2c;
  color: #ffffff;
  border: 1px solid #ffffff;
  height: 0.4rem;
  margin-top: 5%;
  font-size: 0.18rem;
}

.button-box > div .red2 {
  background: #b21f2c;
  color: #000000;
  height: 0.4rem;
  margin-top: 5%;
  font-size: 0.18rem;
}

.roule-box {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.roule-box .alert {
  width: 3.23rem;
  display: block;
  margin: 0.1rem auto 0 auto;
}

.roule-box .close {
  width: 0.54rem;
  display: block;
  margin: 0.24rem auto 0 auto;
}

.choose-box {
  position: relative;
  width: 3.06rem;
  overflow: auto;
  margin: 5% auto 0 auto;
}

.choose-box i {
  display: inline-block;
  width: 0.15rem;
  height: 0.15rem;
  background: rgba(255, 255, 255, 0);
  border: 1px solid #ffffff;
  border-radius: 100%;
  margin-right: 0.17rem;
}

.choose-box i.active {
  background: #b41c27;
}

.choose-box li {
  margin-top: 2%;
}

.choose-box p {
  font-size: 0.14rem;
  line-height: 0.2rem;
  font-family: 'FZLTXIHJW--GB1-0';
}

.choose-box .one {
  color: #958e8e;
}

.choose-box .two {
  color: white;
}

.hot {
  width: 6%;
  margin-right: 3%;
}

.center-box {
  width: 100%;
  height: 100%;
}

.down_box {
  width: 0.395rem;
  line-height: 0;
  position: absolute;
  bottom: 1.5%;
  left: 44%;
  z-index: 9;
}

.down_box img {
  width: 100%;
}

.swing {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
/*# sourceMappingURL=index.css.map */